# ignore html files
*.html

# ignore all textual files
*.txt
*.pdf
Testing/*
bin/*
lib/*
CMakeFiles/*
compile_co
*.cmake
Makefile

# ignore object and archive files
*.[oa]

# ignore auto-saved files
*~
\#*\#

# excepted these manually configured files
!CMakeLists.txt
!README.txt
!application/
!build/
!doc/
!lib/
!src/
!test/
!eompi.html
build/
